
.description {
   font-family:  "Lato", sans-serif;
   column-fill: balance;
}

.name{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.Number{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.Top{
    border: 2px solid black;
    padding: 10px;
    background: rgb(213, 215, 240);
    align-content: center;
}