
.description {
   font-family: Arial, Helvetica, sans-serif;
}

.name{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.Number{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.Top{
    border: 13px solid black;
    background: rgb(213, 215, 240);
}