
.description {
   font-family: Arial, Helvetica, sans-serif;
}

.name{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.number{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.top{
    border: 20px solid red;
    background: rgb(213, 215, 240);
}