

.description {
    font-family: sans-serif;
}

.name{
    font-family:'Times New Roman', Times, serif;
}

.number{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.top{
    border: 20px solid red;
    background: rgb(213, 215, 240);
}